body, html {
    height: 100%;
    background: rgb(185,241,225);
    background: linear-gradient(180deg, rgba(185,241,225,1) 0%, rgba(243,217,255,1) 61%);
    background-repeat: repeat-y;
    scroll-behavior: smooth;
    overflow: auto;
}

.navbar-custom {
    color: #34c1fd;
    /*background-color: rgba(0, 0, 0, 0.00) !important;*/
    backdrop-filter: blur(3px);
    
}
body {
    overflow-x: hidden;
}
.navbar-toggler {
    border: none;
    float: right !important;
    margin-top: 23px;
    padding: 9px 10px !important;
}


img {
    width: 300px;
    height: auto;
    margin-right: -35px;
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: -5px;
}



@media (min-width: 992px){
    .navbar-nav {
         margin-left: -250px;
    }

    .label {
        font-family: 'Roboto', sans-serif;
        color: black;
        font-size: 20px;
        width: 250px;
        margin-left: 250px;
    }

    .label1 {
        font-family: 'Roboto', sans-serif;
        color: black;
        font-size: 20px;
        width: 250px;
        margin-left: 250px;
    }



    .form {
        margin-left: 10px;
        font-family: 'Roboto', sans-serif;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: black;
        height: 40px;
        font-size: 15px;
        width: 700px;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 5px 15px 15px 5px;
    }

    .submit {
        color: black;
        border-radius: 15px;
        width: 970px;
        margin-left: 245px;
        margin-top: 10px;
        padding-left: 5px;
        display: flex;
        justify-content: center !important;
    }

        .submit:hover {
            color: black;
            background-color: rgba(52, 193, 253, 0.2);
        }
}

@media (max-width: 992px) {
    .navbar-brand {
        margin-top: -25px;
        height: 250px;
        line-height: 250px;
        font-size: 4em !important;
        margin-left: 5px;
    }

    .navbar-nav > li > a {
        padding-bottom: 26.5px;
        line-height: 27px;
        font-size: 3em !important;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-top: 50px;
    }

    .navbar-toggler-icon {
        font-size: 3em;
    }

    .navbar-toggler {
        margin-top: -7px;
    }

    .dw {
        margin-top: 100px !important;
        background-color: rgba(0, 0, 0, 0.00);
        font-size: 3.5em !important;
        text-align: center;
    }

    .bt {
        font-size: 0.8em;
        border-radius: 12px;
        background-color: rgba(185,241,225,0.1);
    }

    img {
        width: 400px;
        height: auto;
        
    }

    .formtext {
        text-align: center !important;
        font-size: 60px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .form {
        
        margin-left: 10px;
        font-family: 'Roboto', sans-serif;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: black;
        height: 130px !important;
        font-size: 40px;
        width: 900px !important;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 20px !important;
    }

    .submit {
        margin-top: 100px !important;
        font-size: 60px;
        width: 950px !important;
        height: 120px !important;
        display: flex;
        margin-left: auto !important;
        margin-right: auto !important;
        justify-content: center !important;
        border-radius: 35px;
    }
    .form2 {
        margin-left: 10px;
        font-family: 'Roboto', sans-serif;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: black;
        height: 300px !important;
        font-size: 40px;
        width: 900px !important;
        margin-top: 10px;
        padding-left: 5px;
        border-radius: 20px !important;
    }
    .label {
        text-align: center !important;
        font-size: 60px !important;
        width: auto !important;
        /*margin-left: auto !important;*/
    }
    .label1 {
        text-align: center !important;
        font-size: 60px !important;
        width: auto !important;
        /*margin-left: auto !important;*/
       
    }
    .mid {
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
    }
    

}




.dw {
    margin-left: 15px;
    font-size: 2.5em;
    margin-top: 50px;
    font-family: 'Roboto Slab', serif;
}
.btn{
    color:black;
}
.btn:hover {
        background-color: rgba(0, 0, 0, 0.00);
        color: #34C1FD;
        border-color: #34C1FD;
        
}

.aa {
    color: black;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}



.aa:hover {
    color: rgba(0, 0, 0, 0.57);
    text-decoration: none;
}
.bt {
    font-size: 0.8em;
    border-radius: 12px;
    background-color: rgba(185,241,225,0.1);
}


.navbar-nav > li > a {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    color: #34C1Fd !important;
}




.formtext {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 35px;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align:center;
}

.form2 {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: black;
    height: 100px;
    font-size: 15px;
    width: 700px;
    margin-top: 10px;
    padding-left: 5px;
    border-radius: 5px 15px 15px 5px;
}


