* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page-wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

html {
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    padding: 0 100px;
}

    header .banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;
    }
    header .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 13vw;
        color: #fff;
        transition: 1s;
        z-index: 1;
        text-decoration: none;
        
    }

header.text {
    position: relative;
    background-color: rgba(255, 255, 255, 0.47);
    height: 50%;
    display: block;
    opacity: 1;
    text-align: center;       
}

    header.text h1 {
        color: red;
    }
    header .logo img {
        opacity: 0;
        width: 800px;
        width: 0px;
        visibility: hidden;
        transition: 1s;
    }

nav {
    position: relative;
    display: flex;
    z-index: 1;
}
nav ul{
    position: relative;
    display:flex;
    transition: 0.8s;
    opacity: 0;
    transform: translateX(100px);

}

.header-scrolled {
    height: 80px;
}
header.header-scrolled nav ul {
    opacity: 1;
    transform: translateX(0);
}

header.header-scrolled {
    box-shadow: 1px 3px 10px #000;
}

nav li {
    list-style: none;

}
nav ul a{
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.3s ease;
}
header.header-scrolled .logo  {
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0%, -50%);
    
}
    header.header-scrolled .logo img {
        width: 300px;
        height: auto;
        margin-top: -10px;
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
        transform: translate(0, 0);
        transition: 1s;
    }
header.header-scrolled .banner{
    opacity: 0.5;
}

header.header-scrolled nav ul a:hover{
    color : #9f9f9f;
}
header.header-scrolled nav ul a{
    margin-top: 10px;
}

header.header-scrolled h1 {
    opacity: 0;
    transform: translate(0%, 100%);
}


header .texthd {
    z-index: 0;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.38);
    transition:  0.5s ease;
    transition-delay: 0.2s;
}
header.header-scrolled .texthd{
    opacity: 0;
}
header .texthd h1 {
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    font-size: 5.3em;
    color: #545454;
    transform: translate(-50%,-50%);
    position: absolute;
    transition: 0.5s ease;
}


.page1 {
    height: 80vh;
    padding: 30vh 100px 150px 100px;
    width: 100%;
    display: table;
}

.columns:after {
    content: "";
    display: table;
    clear: both;
}
.columns {
    display: flex;
}
.page1 .textp1 {
    flex-wrap: wrap;
    height: 500px;
    width: 45%;
    flex: 40%;
    border-right: 2px solid #000;
}

.page1 .textp1 h1{
    text-align: center;
    padding:0 50px;
    font-size: 3.7em;
}
    .page1 .textp1 p {
        padding:20px 50px;
        font-size: 1.5em;
    }
.text2p1 {
    flex-wrap: wrap;
    width: 40%;
    height: 400px;
    flex: 20%;
}
    .text2p1 img {
        width: 100%;
        padding:0 10%;
        flex-wrap: wrap;
        height: 500px;
        width: auto;
    }

.page2 {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #0f0e0c;
}
    .page2 .columns2 {
        flex: 1;
        width: 32%;
        display: flex;
        padding: 150px 0;
        align-items: center;
        justify-content: center;
    }
    .page2 img {

        height: 680px;
        width: auto;
        justify-content: center;
        justify-items: center;
        padding: 60px 3em;
    }

@media (max-width: 600px) {

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    .column {
        width: 100%;
    }

    header .header-scrolled .banner {
        background-color: #fff;
    }

    header .logo img {
        margin-left: -100px;
        width: 300px;
        z-index 0;
        opacity: 1;
        visibility: visible;
        padding: 10px 0;
    }

    header nav {
        opacity: 1;
        visibility: hidden;
    }

    header {
        background-color: #000;
        top: 0;
        overflow-x: hidden;
        left: 0;
        max-width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: 1s;
        padding: 0 0;
    }

        header .banner {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.2;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s;
            height: 100%;
            vertical-align: top;
        }

            header .banner img {
                height: auto;
                width: auto;
                position: absolute;
                top: -100%;
                bottom: -100%;
                left: -100%;
                right: -100%;
                margin: auto;
            }


        header .toggler {
            position: fixed;
            top: 0;
            right: 2%;
            z-index 0;
            width: 100px;
            height: 100px;
            cursor: pointer;
            background: url(menup.png);
            background-repeat: no-repeat;
            background-size: 50px;
            background-position: center;
        }

        header nav.active ul {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }



        header .toggler.active {
            position: fixed;
            top: 0;
            right: 2%;
            padding: 30px;
            width: 100px;
            height: 100px;
            cursor: pointer;
            background: url(closep.png);
            background-repeat: no-repeat;
            background-size: 40px;
            background-position: center;
            transition: 0s;
        }

    nav.active ul {
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: rgba(0, 0, 0, 0.95);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        visibility: visible;
    }

    header nav ul li a {
        opacity: 0;
        display: none;
        visibility: hidden;
        padding: 5px 15px;
        font-size: 1.5em;
        margin-left: -15px;
        transform: translateX(200px);
    }

    header nav.active ul li a {
        opacity: 1;
        visibility: visible;
        display: block;
        padding: 5px 15px;
        font-size: 1.5em;
        margin-left: -15px;
        transform: translateX(0);
    }

    nav.active ul li a {
        padding: 5px 15px;
        font-size: 1.5em;
        transform: translate(0, 0);
        margin-left: -15px;
        transition: transform 0.2s linear;
    }

    header .banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;
    }

    header .texthd h1 {
        display: none;
    }

    header .texthd {
        display: none;
    }

    header.header-scrolled .texthd {
        opacity: 0;
        visibility: hidden;
    }

    .page1 {
        height: 400px;
        padding: 120px 0;
        width: 100%;
        display: block;
        margin-bottom: 493px;
    }

    .columns:after {
        content: "";
        display: block;
        clear: both;
    }

    .columns {
        display: block;
    }

    .page1 .textp1 {
        height: auto;
        width: 100%;
        flex: 100%;
        border-right: 0px solid #000;
    }

        .page1 .textp1 h1 {
            text-align: center;
            padding: 0 15px;
            font-size: 3.2em;
        }

        .page1 .textp1 p {
            padding: 20px 15px;
            font-size: 1.2em;
            
        }

    .text2p1 {
        width: 100%;
        height: 400px;
        flex: 40%;
    }

        .text2p1 img {
            padding: 0 0;
            height: 400px;
            width: auto;
            display: block;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 70px;
            justify-content: center;
            justify-items: center;
            overflow-x: hidden;
        }


    .page2 {
        clear: both;
        width: 100%;
        height: auto;
        display: flex;
        background: #0f0e0c;
    }
    .page2 .columns2 {
        flex: 1;
        width: 32%;
        display: flex;
        padding: 0 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .page2 img {

        height: 600px;
        width: auto;
        justify-content: center;
        justify-items: center;
        padding: 60px 30px;
    }
}


