body, html {
    height: 100%;
    background: rgb(185,241,225);
    background: linear-gradient(180deg, rgba(185,241,225,1) 0%, rgba(243,217,255,1) 61%);
    background-repeat: repeat-y;
    scroll-behavior: smooth;
    overflow: hidden;
}

.navbar-custom {
    color: #34c1fd;
}
.navbar-toggler {
    border: none;
    float: right !important;
    margin-top: 23px;
    padding: 9px 10px !important;
}


img {
    width: 300px;
    height: auto;
    margin-right: -35px;
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: -5px;
}

.navbar-custom {
    
}

@media (min-width: 992px){
    .navbar-nav {
         margin-left: -250px;
    }
}

@media (max-width: 992px) {
    .navbar-brand {
        margin-top: -25px;
        height: 250px;
        line-height: 250px;
        font-size: 4em !important;
        margin-left: 5px;
    }

    .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 26.5px;
        line-height: 27px;
        font-size: 3em !important;
        margin-bottom: 100px;
        margin-left: 20px;
    }

    .navbar-toggler-icon {
        font-size: 3em;
    }

    .navbar-toggler {
        margin-top: -7px;
    }

    .dw {
        margin-top: 70px;
        background-color: rgba(0, 0, 0, 0.00);
        font-size: 3.5em;
        text-align: center;
    }

    .bt {
        font-size: 0.8em;
        border-radius: 12px;
        background-color: rgba(185,241,225,0.1);
    }

    img {
        width: 400px;
        height: auto;
    }
}

.dw {
    font-size: 2.5em;
    margin-top: 50px;
    font-family: 'Roboto Slab', serif;
}
.btn{
    color:black;
}
    .btn:hover {
        background-color: rgba(0, 0, 0, 0.00);
        color: #34C1FD;
        border-color: #34C1FD;
        
    }

.aa {
    color: black;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}



.aa:hover {
    color: rgba(0, 0, 0, 0.57);
    text-decoration: none;
    /*transition: 0.5s;*/
}
.bt {
    font-size: 0.8em;
    border-radius: 12px;
    background-color: rgba(185,241,225,0.1);
}


.navbar-nav > li > a {
    font-family: 'Quicksand', sans-serif;
    color: #34C1Fd !important;
}
