html {
    height: 100%;
    background: rgb(185,241,225);
    background: linear-gradient(180deg, rgba(185,241,225,1) 0%, rgba(243,217,255,1) 61%);
    background-repeat: repeat-y;
}


.navbar-toggler {
    border: none;
    float: right !important;
}   